@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    margin: 1em;
    background-color: #eeeeee;
}

.newspaper-container{
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #dddddd;
}

header h1{
    text-align: center;
    font-family: 'Abril Fatface';
    font-size: 60px;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/abrilfatface/v23/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format('woff2');
    
}

nav{
    border-top: 1px solid;
    border-bottom: 1px solid;
}

nav ul{
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-inline: 1em;
    text-decoration: none;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
}

main{
    margin-top: 4em;
}

p{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wmBduz8A.woff2) format('woff2');
}
main img{
    width: 95%;
    margin-left: 1em;
}

main p{
    display: inline-block;
    margin: 2em;
}

main h2{
    margin-left: 1em;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmYmRjRdE.woff2) format('woff2');
}

main h5{
    margin-left: 2em;
    color: #c42929;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmYmRjRdE.woff2) format('woff2');

}

.more-articles{
    border-top: 1px solid;
}

.more-articles section{
    display: inline-block;
    width: 40%;
    margin-left: 6em;
    margin-top: 1em;
    
}

.more-articles section h4{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoslab/v34/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmYmRjRdE.woff2) format('woff2');
}

.more-articles section p {
    width: 80%;
    
}

.more-articles section img{
    width: 80%;
}